<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/ecport</property>
		<property name="connection.username">root</property>
		<property name="connection.password">1234</property>
			
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

         <mapping resource="ambow/ecport/entity/xml/User.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/ContcatInfo.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Country.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Province.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Category.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Product.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Order.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/PayWay.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/StarRating.hbm.xml"/>
	<mapping resource="ambow/ecport/entity/xml/Comment.hbm.xml"/>
	</session-factory>
</hibernate-configuration>