body {
	background-color: #699;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0px auto auto auto;
	color: #000000;
}

a {
	color: #993a4e;
}

.clear {
	clear: both;
}

p {
	padding: 5px 0 5px 0;
	margin: 0px;
	text-align: justify;
	line-height: 19px;
}

p.details {
	padding: 5px 15px 5px 15px;
	/*font-size:11px;*/
	font-size: 12px;
}

p.details_cart {
	clear: both;
	padding: 25px 30px 5px 0px;
	font-size: 11px;
	font-style: italic;
}

p.more_details {
	padding: 25px 20px 0px 20px;
	font-size: 11px;
}

#wrap {
	width: 1000px;
	height: auto;
	margin: auto;
	background-color: #FFFFFF;
}

.header {
	width: 1000px;
	height: 181px;
	background: url(images/header.gif) no-repeat center;
}

.logo {
	padding: 30px 0 0 20px;
	width: 420px;
	float: left;
}

/*-----------------------------menu-------------------*/
#menu {
	width: 850px;
	height: 30px;
	float: left;
	padding: 75px 0 0 120px;
}

#menu ul {
	display: block;
	list-style: none;
	padding: 9px 0 0 10px;
	margin: 0px;
}

#menu ul li {
	display: inline;
	padding: 0px;
	margin: 0px;
	height: 20px;
}

#menu ul li a {
	height: 27px;
	display: block;
	padding: 0px 10px 0 10px;
	margin: 0 4px 0 4px;
	float: left;
	text-decoration: none;
	text-align: center;
	color: #000;
	font-size: 13px;
	line-height: 25px;
}

#menu ul li.right a {
	height: 27px;
	display: block;
	padding: 0px 10px 0 10px;
	margin: 0 5px 0 5px;
	float: right;
	text-align: center;
	color: #000;
	font-size: 13px;
	line-height: 25px;
}

#menu ul li.welcome{
	height: 27px;
	display: block;
	padding: 0px 10px 0 10px;
	margin: 0 5px 0 5px;
	float: right;
	text-align: center;
	color: #000000;
	font-size: 13px;
	line-height: 25px;
}

#menu ul li a:hover {
	color: #000;
	text-decoration: underline;
}

/*----------------crumb_nav------------------*/
.crumb_nav {
	padding: 5px 0 10px 0px;
}

.crumb_nav a {
	color: #11819E;
}

span.red {
	color: #9e2511;
}

.price {
	font-size: 14px;
	padding: 0 0 0 15px;
	margin: 2px 0 5px 0;
}

span.colors {
	padding: 2px 2px 0 2px;
}

/*------------------------------------center content--------------------*/
.center_content {
	width: 1000px;
	padding: 0px 0 0 0;
	background: url(images/center_bg.gif) no-repeat center top;
}

.left_content { /*width:370px;*/ /*width:188px;*/
	width: 200px;
	float: left;
	padding: 20px 0 20px 20px;
}

.rank_content {
	width: 200px;
	float: left;
	padding: 20px 0 20px 20px;
}

.right_content {
	width: 556px;
	/*width:480px;*/
	float: left;
	padding: 20px 0 0px 0px;
	border: 1px #FCC dashed;
}

.title {
	color: #993a4e;
	padding: 0px;
	float: left;
	font-size: 19px;
	margin: 10px 0 10px 0;
}

span.title_icon {
	float: left;
	padding: 0 5px 0 0;
}

/*.prod_title{
color:#993a4e;
padding:5px 0 0 15px;
font-size:13px;
}*/
.prod_title {
	color: #993a4e;
	padding: 5px 0 5px 15px;
	width: 150px;
	float: left;
	font-size: 13px;
}

.prod_price {
	color: #993a4e;
	padding: 5px 0 5px 15px;
	width: 150px;
	float: left;
	font-size: 13px;
}

a.more {
	font-style: italic;
	color: #993a4e;
	float: right;
	text-decoration: none;
	font-size: 11px;
	padding: 0px 15px 0 0;
}

.about {
	width: 337px;
	clear: both;
	background: url(images/border.gif) no-repeat bottom center;
	padding: 0 0 40px 0;
}

img.right {
	float: right;
	padding: 0 0 0 30px;
}

.right_box {
	width: 170px;
	float: left;
	padding: 10px 0 0 0;
}

/*--------feat_prod_box-----------*/
.feat_prod_box {
	padding: 10px 0 10px 10px;
	margin: 0 10px 20px 10px;
	border-bottom: 1px #b2b2b2 dashed;
	clear: both;
}

.feat_prod_box_details {
	padding: 10px 0 10px 0;
	margin: 0 20px 10px 0;
	clear: both;
}

.new_products_list {
	padding: 10px 0 10px 0;
	margin: 0 20px 10px 0;
	clear: both;
}

.prod_img {
	float: left;
	width: 124px;
	padding: 0 5px 0 0;
	text-align: center;
}

.prod_det_box {
	width: 355px;
	/*width:295px;*/
	float: left;
	/*padding:0 0 0 25px;*/
	padding: 0 0 0 20px;
	position: relative;
}

.box_top { /*width:295px;*/
	width: 355px;
	height: 9px;
	background: url(images/box_top.gif) no-repeat center bottom;
}

.box_center { /*width:295px;*/
	width: 355px;
	height: auto;
	background: url(images/box_center.gif) repeat-y center;
}

.box_bottom { /*width:295px;*/
	width: 355px;
	height: 9px;
	background: url(images/box_bottom.gif) no-repeat center top;
}

.new_prod_box {
	float: left;
	text-align: center;
	/*padding:10px;*/
	padding: 15px;
	margin: 0px 11px 0px 11px;
}

.new_prod_box a {
	padding: 5px 0 5px 0;
	color: #993a4e;
	text-decoration: none;
	display: block;
}

.new_prod_bg {
	width: 132px;
	height: 119px;
	text-align: center;
	background: url(images/new_prod_box.gif) no-repeat center;
	position: relative;
}

.new_icon {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 200;
}

.special_icon {
	position: absolute;
	top: 0px;
	_top: 6px;
	right: 2px;
	z-index: 250;
}

img.thumb {
	padding: 10px 0 0 0;
}

.new_products {
	clear: both;
	padding: 0px;
	/*padding:10px 0 10px 10px;*/
}

ul.list {
	clear: both;
	padding: 10px 0 0 20px;
	margin: 0px;
}

ul.list li {
	list-style: none;
	padding: 2px 0 2px 0;
}

ul.list li a {
	list-style: none;
	text-decoration: none;
	color: #000000;
	background: url(images/left_menu_bullet.gif) no-repeat left;
	padding: 0 0 0 17px;
}

ul.list li a:hover {
	text-decoration: underline;
}

/* demo */
div.demolayout {
	width: 460px;
	margin: 0 0 20px 0;
}

ul.demolayout {
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}

ul.demolayout li {
	margin: 0 10px 0 0;
	float: left;
}

.tab {
	border: 1px #DFDFDF solid;
	padding: 0 0 25px 0;
	width: 550px;
}

ul.demolayout a {
	float: left;
	display: block;
	padding: 5px 25px;
	border: 1px solid #DFDFDF;
	border-bottom: 0;
	color: #666;
	background: #eee;
	text-decoration: none;
	font-weight: bold;
}

ul.demolayout a:hover {
	background: #fff;
}

ul.demolayout a.active {
	background: #fff;
	padding-bottom: 5px;
	cursor: default;
	color: #11819E;
}

.tabs-container {
	clear: left;
	padding: 0px;
}

/*-----------------------languages_box---------*/
.languages_box {
	padding: 0 0 5px 0;
	float: left;
}

.languages_box a {
	padding: 0 2px 0 2px;
}

.languages_box a.selected {
	padding: 2px 2px 0 2px;
	border: 1px #CCCCCC solid;
}

.currency {
	float: left;
	padding: 0 0 0 20px;
}

.currency a {
	text-decoration: none;
	color: #333333;
	padding: 3px;
	border: 1px #eeedee solid;
}

.currency a.selected {
	text-decoration: none;
	color: #fff;
	padding: 3px;
	border: 1px #eeedee solid;
	background-color: #1ca8e9;
	font-weight: bold;
}

.currency a:hover {
	border: 1px #990000 solid;
}

/*------------------------cart---------------------*/
.cart {
	width: 337px;
	float: right;
	height: 40px;
	/*margin:10px 0 10px 0;*/
	/*background:url(images/border.gif) no-repeat bottom center;*/
	padding: 0 0 0px 0;
	/*padding:30px 0 0 20px;*/
}

.home_cart_content {
	float: left;
	padding: 3px;
	border: 1px #eeedee solid;
	margin: 10px 0 0 15px;
}

a.view_cart {
	display: block;
	float: left;
	margin: 12px 0 0 10px;
	color: #2E7D8A;
}

/*---------------contact_form------------------*/
.contact_form {
	width: 355px;
	float: left;
	padding: 25px;
	margin: 20px 0 0 15px;
	_margin: 20px 0 0 5px;
	border: 1px #DFD1D2 dashed;
	position: relative;
}

.form_row {
	width: 335px;
	_width: 355px;
	clear: both;
	padding: 10px 0 10px 0;
	_padding: 5px 0 5px 0;
	color: #a53d17;
}

label.contact {
	width: 75px;
	float: left;
	font-size: 12px;
	text-align: right;
	padding: 4px 5px 0 0;
	color: #333333;
}

input.contact_input {
	width: 253px;
	height: 18px;
	background-color: #fff;
	color: #999999;
	border: 1px #DFDFDF solid;
	float: left;
}

textarea.contact_textarea {
	width: 253px;
	height: 120px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	background-color: #fff;
	border: 1px #DFDFDF solid;
	float: left;
}

input.register {
	width: 71px;
	height: 25px;
	border: none;
	cursor: pointer;
	text-align: center;
	float: right;
	color: #FFFFFF;
	background: url(images/register_bt.gif) no-repeat center;
}

a.contact {
	width: 53px;
	height: 24px;
	display: block;
	float: right;
	margin: 0 0 0 10px;
	background: url(images/contact_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 24px;
	color: #fff;
}

a.checkout {
	width: 71px;
	height: 25px;
	display: block;
	float: right;
	margin: 10px 30px 0 10px;
	background: url(images/register_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	color: #fff;
}

a.continue {
	width: 71px;
	height: 25px;
	display: block;
	float: left;
	margin: 10px 0 0 30px;
	background: url(images/register_bt.gif) no-repeat center;
	text-decoration: none;
	text-align: center;
	line-height: 25px;
	color: #fff;
}

.terms {
	padding: 0 0 0 80px;
}

.form_subtitle {
	position: absolute;
	top: -11px;
	left: 7px;
	width: auto;
	height: 20px;
	background-color: #ff3600;
	text-align: center;
	padding: 0 7px 0 7px;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 20px;
}

/*--------------cart_table-------------*/
.cart_table {
	width: 440px;
	border: 1px #CCCCCC solid;
	text-align: center;
}

tr.cart_title {
	background-color: #DFDFDF;
}

td {
	padding: 3px;
}

td.cart_total {
	text-align: right;
	padding: 5px 15px 5px 0;
}

img.cart_thumb {
	border: 1px #b2b2b2 solid;
	padding: 2px;
}

/*--------------*/
div.pagination {
	width: 420px;
	padding: 5px;
	margin: 5px;
	text-align: center;
	float: left;
	clear: both;
	font-size: 10px;
}

div.pagination a {
	padding: 5px 5px 1px 5px;
	margin-right: 2px;
	border: 1px solid #2E7D8A;
	text-decoration: none;
	color: #2E7D8A;
}

div.pagination a:hover,div.pagination a:active {
	border: 1px solid #2E7D8A;
	color: #fff;
	background-color: #2E7D8A;
}

div.pagination span.current {
	padding: 0px 5px 0px 5px;
	margin-right: 2px;
	border: 1px solid #ffffff;
	font-weight: bold;
	background-color: #ffffff;
	color: #FFF;
}

div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

/*---------------footer------------------------*/
.footer {
	height: 81px;
	margin: 10px 0 0 0;
	background: url(images/footer_bg.jpg) no-repeat top center;
}

.left_footer {
	float: left;
	padding: 10px 0 0 10px;
}

.right_footer {
	float: right;
	padding: 10px 250px 0 0;
}

.footer a {
	text-decoration: none;
	padding: 0 5px 0 5px;
	color: #797979;
}

/*---------------------add-----------------------*/
.title_box {
	width: 170x;
	height: 30px;
	margin: 5px 0 0 0;
	background: url(images/menu_title_bg.gif) no-repeat center;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	line-height: 30px;
}

ul.left_menu {
	width: 170px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

ul.left_menu li {
	margin: 0px;
	list-style: none;
}

ul.left_menu li.odd a {
	width: 140px;
	height: 25px;
	display: block;
	background: url(images/checked.png) no-repeat left #dad0d0;
	background-position: 5px 5px;
	border-bottom: 1px #FFFFFF solid;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 30px;
	line-height: 25px;
}

ul.left_menu li.even a {
	width: 140px;
	height: 25px;
	display: block;
	background: url(images/checked.png) no-repeat left #eee6e6;
	background-position: 5px 5px;
	border-bottom: 1px #FFFFFF solid;
	text-decoration: none;
	color: #504b4b;
	padding: 0 0 0 30px;
	line-height: 25px;
}

ul.left_menu li.even a:hover,ul.left_menu li.odd a:hover {
	background: url(images/checked.png) no-repeat left #7bbcc7;
	color: #FFFFFF;
	background-position: 5px 5px;
}

.shopping_cart {
	width: 170px;
	height: 84px;
	text-align: center;
	background: url(images/cart_bg.gif) no-repeat center;
}

.cart_title {
	font-size: 12px;
	font-size: 12px;
	text-align: center;
	color: #847676;
	font-weight: bold;
	padding: 8px 0 0 0;
}

.cart_table {
	text-align: center;
	width: 550px;
}

.cart_table2 {
	text-align: center;
}

.cart_details {
	width: 115px;
	float: left;
	padding: 5px 0 0 15px;
	text-align: left;
}

.cart_icon {
	float: left;
	padding: 5px 0 0 5px;
}

span.border_cart {
	width: 100px;
	height: 1px;
	margin: 3px 0 3px 0;
	display: block;
	border-top: 1px #999999 dashed;
}

span.price {
	color: #ea2222;
}

span.cart_count {
	color: #000;
}

/***************add by b¸ç¸ç********************/
a:hover {
	color: #f30;
	text-decoration: underline;
}

.bmod.rank1 ul {
	background: url(images/icon.gif) no-repeat;
	margin: 0 0 0 -5px;
}

.bmod {
	border: 1px solid #B1D0F3;
	width: 163px;
	background: #F1F5FA;
	overflow: hidden;
}

.bmod.rank1 ul {
	width: 163px;
	padding: 5px 5px 5px 30px;
	background-position: -77px -1403px;
}

.bmod.link li,.bmod.rank1 li {
	width: 100%;
	line-height: 21px;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.bmod.link li a,.bmod.rank1 li a {
	color: #0368A8;
	text-decoration: none;
}

/**************************add to fly**********/
#mainWrap {
	margin: 0 auto;
	width: 900px;
}

#wrdInfoWrap {
	background-color: #FFFF99;
	height: 80px;
}

#wrdInfoWrapLeft {
	float: left;
	width: 300px;
	padding: 10px;
}

#wrdInfoWrapRight {
	float: right;
}

#wrdInfoWrapRight A:link,#wrdInfoWrapRight A:visited,#wrdInfoWrapRight A:active
	{
	color: #333333;
	text-decoration: underline;
}

#wrdInfoWrapRight A:hover {
	color: #669900;
}

#wrdTutorialInfo {
	margin: 25px 10px; 0 0;
	background-color: #FFFFFF;
	padding: 5px;
}

#headerWrap {
	width: 100%;
	height: 30px;
	background-color: #666666;
	border: 1px #999999 solid;
}

#contentWrapLeft {
	float: left;
	width: 650px;
}

#contentWrapRight {
	float: right;
	width: 250px;
}

.productWrap {
	float: left;
	width: 170px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	color: #7a7a7a;
	border: 1px #EBEBEB solid;
}

.productPriceWrap {
	background-color: #CCCCCC;
	padding: 5px;
	color: #000000;
	font-weight: bold;
}

.productPriceWrap img {
	border: 0;
}

#basketWrap { /*margin: 10px;*/
	background-color: #dad0d0;
	padding-bottom: 5px;
	width: 170px;
	float: left;
}

#basketTitleWrap { /*background-color: #669900;
	border: 3px #099 solid;*/
	padding: 5px;
	color: #FFFFFF;
	font-weight: bold;
	height: 20px;
	background: url(images/menu_title_bg.gif) no-repeat center;
}

#basketItemsWrap img {
	border: 0;
}

#basketItemsWrap ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}

#basketItemsWrap li { /*background-color: #dad0d0;*/
	margin: 5px;
	font-size: 12px;
	border-bottom: 1px #FFFFFF solid;
}

.basketItemLeft {
	float: left;
}

.basketItemRight {
	float: right;
}

#bannerWrap {
	margin: 10px;
	padding-bottom: 5px;
}

/****ÐÇ¼¶ÆÀ·Ö**********/
#rateStatus {
	float: left;
	clear: both;
	width: 100%;
	height: 30px;
	text-align: center;
	padding: 0 0 0 10px;
	color: #993a4e;
}

#rateMe {
	clear: both;
	width: 100%;
	padding: 0 0 0 20px;
	margin: 0px;
	text-align: center;
}

#rateMe li { /*float:left;*/
	list-style: none;
	padding: 0 0 0 10px;
}

#rateMe li a:hover,#rateMe .on {
	background: url(images/2.gif) no-repeat;
	width: 20px;
	height: 20px;
}

#rateMe a {
	float: left;
	background: url(images/1.gif) no-repeat;
	width: 20px;
	height: 20px;
}

#ratingSaved {
	display: none;
	text-align: center;
}

.saved {
	color: red;
}

.personNum {
	font-size: 14px;
	padding: 0 0 0 15px;
	margin: 2px 0 5px 0;
	text-align: center;
	color: #993a4e;
}

.avgStar {
	font-size: 24px;
	padding: 0 0 0 15px;
	margin: 2px 0 5px 0;
	text-align: center;
	color: #993a4e;
}



/***comment**/
.box_center1 { /*width:295px;*/
	width: 500px;
	height: auto;
}
.prod_title1 {
	color: #993a4e;
	padding: 5px 0 5px 15px;
	width: 200px;
	margin-right:20px;
	float: left;
	font-size: 13px;
}
.prod_price1 {
	color: #993a4e;
	padding: 5px 0 5px 15px;
	width: 150px;
	float: right;
	font-size: 13px;
}
.details1 {
	width:100%;
	margin: 5px 10px 5px 10px;
	padding: 5px 15px 5px 15px;
	border: 1px #993a4e; solid;
	font-size: 12px;
}
/*************/